/* Base html styling stuff */
a {
    color: #006400;
    font-weight: bold;
}

.mymain {
    min-height: 80vh;
}

.myfooter {
    min-height: 5vh;
}

/* Bootstrap overrides */
.btn-secondary {
    background-color: #80BA27;
    border: none;
}

/* Custom stuff */
#wouldease-logo {
    height: 40px;
}