{% extends "base.html" %}
{% load static %}
{% block metadescription %}
    {% if category %}
        {{ category.description|truncatewords:155 }}
    {% else %}
        Welcome to WouldEase DIY, we have everything for your DIY needs
    {% endif %}
{% endblock %}

{% block title %}
    {% if category %}
        {{ category.name }} - WouldEase DIY
    {% else %}
        Everything for your DIY needs
    {% endif %}
{% endblock %}

{% block content %}
    <!--Breadcrumb navigation-->
    {% if category %}
        <div>
            <div>
                <p><a href="{% url 'shop:all_products' %}">Our Product Collection</a> | {{category.name}}</p>
            </div>
        </div>
    {% endif %}
    
    <div>
        {% if category %}
            <img src="{{category.image}}" alt="{{category.name}}" style="width: 300px;">
        </div>
        <br>
        <div>
            <h1>{{category.name}}</h1>
            <p>{{category.description}}</p>
        </div>
        {% else %}
        <br>
        <div>
            <h1 class="text-center">Our Products Collection</h1>
            <p>Shop for Homeware, Gardening equipment, paints and Power
            </p>
        </div>
        {% endif %}
        
        <div>
            <div>
                {% for product in prods %}
                    <div>
                        <div>
                            <a class="img" href="{{product.get_absolute_url}}">
                                <img src="{{product.image}}" alt="{{product.name}}" style="width: 300px;">
                            </a>
                            <div>
                                <h4>{{product.name}}</h4>
                                <p>€{{product.price}}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="mx-auto">
                {% if prods.paginator.num_pages > 1 %}
                    <hr>
                    <div class="text-center">
                        {% for pg in prods.paginator.page_range %}
                            <a href="?page={{pg}}" class="btn btn-light btn-sm {%
                            if products.number == pg %}active{% endif
                            %}">{{pg}}</a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <br>
        </div>
{% endblock %}